.IntroStep {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 1s forwards;
}

.imageContainer {
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.content {
  padding-top: 1rem;
  max-width: 270px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
