// ui colors

:root {
  --main-color-1: #ff7754;
  --main-color-2: #83829a;
  --dark-color-1: #444262;
  --dark-color-2: #312651;
  --dark-color-3: #161125;
  --light-color-1: #f5f3f5;
  --light-color-2: #eceef8;
  --light-color-3: #e8e8e9;
}

html {
  background-color: var(--light-color-1);
  width: 100vw;
  overflow-y: hidden;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--dark-color-3);
  text-decoration: none;
}

.renderedPage {
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  opacity: 0.5;
}
