.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginOption {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 3rem;
  position: relative;
  border-radius: 1.5rem;
  border: 1px solid var(--light-color-3);
  background: var(--light-color-1);
  font-weight: 600;
  margin-top: 1rem;
}

.imageContainer {
  position: absolute;
  left: 0.5rem;
}
.loginOption.facebookLogin {
  background: var(--blue-color-1);
  color: var(--light-color-1);
}

.RegisterOption {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-2);

  a {
    padding-left: 0.5rem;
    color: var(--blue-color-1);
    font-weight: 600;
  }
}
